mysql-data/
# System Files
.DS_Store
Thumbs.db

# Laravel Directories & Files within 'laravel' folder
storage/logs/*.log
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/views/*
storage/framework/sessions/*
storage/framework/tests/*

# Environment Configurations
.env*
.env.example.local
.env.testing

# Dependency Management
vendor/
node_modules/
npm-debug.log
yarn-error.log

# Build Artifacts
public/hot
resources/lang/vendor
routes/cached.php

# Autoload & Caches
composer.lock
laravel-vapor-stubs/**
