.bg-card {
    background-color: #ffffff; /* Белый цвет */
}

#quizModal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#quizModal form {
    max-width: 400px;
    width: 100%;
}

input[type="tel"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input[type="tel"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type="tel"].error {
    border-color: #ff0000;
}

.py-16 {
  padding-top: 0rem;
  padding-bottom: 4rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}
.h-64 {
  height: 25rem;
}

/* Стили для кнопки */
.button-open-privacy {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

/* Скрытие модального окна по умолчанию */
#privacy-modal {
    display: none;
}

/* Показ модального окна */
.show-modal {
    display: block !important;
}

#privacy-modal {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
        }

        #privacy-modal.show-modal {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }

        /* Задаваем полупрозрачный фон */
        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
            z-index: 40; /* Подложка должна быть под модальным окном */
        }

        /* Светлое модальное окно */
        .modal-container {
            position: fixed;
            top: 45%; /* Верхний отступ от экрана */
            left: 50%;
            transform: translate(-50%, calc(-50% + 10vh)); /* Центрируем окно с учётом нового отступа */
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 50; /* Модальное окно должно быть над подложкой */
            width: 50%; /* Одна треть экрана */
        }

.no-scroll {
    overflow: hidden;
}
.modal-content {
    max-height: 80vh; /* Максимальная высота модального окна */
    overflow-y: auto; /* Включаем вертикальную прокрутку, если содержимое длинное */
    padding: 2rem;
}
